@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

/* Default styles for the navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: #fff;
}

.logo svg{
  font-size: 2rem;
  margin-left: 4rem;
}

.nav-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
  gap: 2rem;
  margin-right: 7rem;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
}

.nav-btn {
  background-color: #FFD349;
  color:#2C2C31;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 43px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5rem;
}

.socials {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.hamburger-btn {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive styles for mobile */


/* Hero Section */
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #3B7DED, #2A5F9E, #2B70B3);
  color: white;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  line-height: 56px;
}

.hero-text h1 span {
  color: #FFD349;
}

.hero-text p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 34px;
  letter-spacing: 0.2px;
}

.hero-btn {
  background-color: #FFD349;
  color: #2C2C31;
  font-size: 20px;
  padding: 26px 58px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
}

.hero-image img {
  height: 700px;
  width: 500px;
  margin-left: 8rem;
}




/* Trusted Styling */


.trusted {
  margin: 2rem 0;
  
}

.trusted-header {
  margin-bottom: 4rem;
}

.trusted h1, .trusted p {
  text-align: center;
  font-family: Anton, sans-serif;
}

.trusted h1 {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #2C2C31;
  line-height: 55px;
}

.trusted p {
  font-size: 28px;
  font-weight: 400;
  color: #2C2C31;
  line-height: 40px;
  letter-spacing: 0.2px;
}


.partner-logos-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

/* Logos container */
.partner-logos {
  display: flex;
  gap: 20px; 
  animation: scroll-left 30s linear infinite; /* Adjust duration for speed */
  width: max-content;
}

/* Logos */
.partner-logos img {
  height: 42px; /* Adjust logo size */
  flex-shrink: 0;
}

/* Keyframes for scrolling animation */
 @keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.why-us {
  display: flex;
  flex-direction: row;
  align-items: center;
}



/* StandOut Component */

/* .standout-container {
 
} */

.standout-container h1{
  text-align: center;
}

.reason-win {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #F9F9F9;
  border-radius: 20px;
  padding-top: 9px;
  padding-bottom: 49px;
  line-height: 40px;
  margin-top: 2rem;
}

/* Testimonials Styling */
.testimonials-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  background: linear-gradient(135deg, #3B7DED, #2A5F9E, #2B70B3);
  height: 50vh;
}



/* Subscribe Styling */
.subscription {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 2rem;
  gap: 5rem;
}

.subscription img {
  width: 800px;
  height: 664px;
}