@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

/* Default styles for the navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: #fff;
  z-index: 10;
  position: relative;
}

.logo svg{
  font-size: 2rem;
  margin-left: 4rem;
}

.nav-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
  gap: 2rem;
  margin-right: 7rem;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.nav-btn {
  background-color: #FFD349;
  color:#2C2C31;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 43px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5rem;
}

.socials {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  cursor: pointer;
}

.hamburger-btn {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
  background: linear-gradient(135deg, #3B7DED, #2A5F9E, #2B70B3);
  color: white;
}


.hero-text h1 {
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  line-height: 60px;
  margin-bottom: 1.5rem;
}

.hero-text h1 span {
  color: #FFD349;
}

.hero-text p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 34px;
  letter-spacing: 0.2px;
  margin-bottom: 2rem;
}

.hero-btn {
  background-color: #FFD349;
  color: #2C2C31;
  font-size: 20px;
  padding: 26px 58px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  margin-right: 1.5rem;
}

.hero-text a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.hero-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  height: 700px;
  width: 500px;
  margin-left: 8rem;
  margin-top: 10rem;
  z-index: 1;
}




/* Trusted Styling */


.trusted {
  margin-top: 10rem;
  margin-bottom: 8rem;
  
}

.trusted-header {
  margin-bottom: 4rem;
}

.trusted h1, .trusted p {
  text-align: center;
  font-family: Bebas Neue, sans-serif;
}

.trusted h1 {
  font-size: 56px;
  font-weight: 800;
  letter-spacing: 0.8px;
  color: #2C2C31;
  line-height: 55px;
}

.trusted p {
  font-size: 34px;
  font-weight: 400;
  color: #2C2C31;
  line-height: 40px;
  letter-spacing: 0.5px;
}


.partner-logos-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

/* Logos container */
.partner-logos {
  display: flex;
  gap: 20px; 
  animation: scroll-left 30s linear infinite; /* Adjust duration for speed */
  width: max-content;
}

/* Logos */
.partner-logos img {
  height: 42px; /* Adjust logo size */
  flex-shrink: 0;
}

/* Keyframes for scrolling animation */
 @keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* Key Features Styling */

.features {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
}

.feature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-content h1 {
  font-family: Bebas Neue, sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
  color: #2C2C31;
  line-height: 55px;
}

.feature-content p {
  font-size: 24px;
  font-weight: 500;
  color: #2C2C31;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
}

.features-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 4rem 2rem;
  text-align: center;
}

.cards h2 {
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #2C2C31;
  margin-top: 1rem;
}

.cards p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #2C2C31;
  align-items: center;
  margin-bottom: 1rem;
}

.card-btn {
  background-color: #427EE4;
  color: #FFFFFF;
  font-size: 20px;
  width: 248px;
  height: 72px;
  padding: 26px 58px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
}

.btns {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: -1rem;
  gap: 2rem;
  margin-bottom: 4rem;      
}

.btns p {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #2C2C31;
}

.btns a {
  text-decoration: none;
  color: #2C2C31;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}


/* WhyUs Styling */

.why-us {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 2rem;
}

.whyus-content h1 {
  font-family: Bebas Neue, sans-serif;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #2C2C31;
  line-height: 55px;
  
}

.whyus-content p {
  font-size: 28px;
  font-weight: 500;
  color: #2C2C31;
  line-height: 40px;
  letter-spacing: 0.2px;
  margin-top: 1rem;
  margin-right: 6rem;
}

.whyus-btn {
  background-color: #FFD349;
  color: #2C2C31;
  font-size: 20px;
  padding: 26px 58px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 2rem;
}



/* StandOut Styling*/

.standout-container h1{
  font-family: Bebas Neue, sans-serif;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 8px;
  color: #2C2C31;
  line-height: 55px;
  margin-bottom: 1rem;

}

.reason-win {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #F9F9F9;
  border-radius: 20px;
  padding-top: 9px;
  padding-bottom: 49px;
  line-height: 40px;
  margin-bottom: 8rem;
  margin-left: 8rem;
  margin-right: 8rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.reason-win h3 {
  font-family: Bebas Neue, sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #2C2C31;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.reason-win h4 {
  font-size: 24px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #2C2C31;
  margin-bottom: 1rem;
}

.reason-win p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #2C2C31;
  margin-bottom: 1rem;
}







/* Testimonials Styling */
.testimonials-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  background: linear-gradient(135deg, #3B7DED, #2A5F9E, #2B70B3);
  height: 100vh;
}

.testimonials-content h1 {
  font-family: Bebas Neue, sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 55px;
  color: #FFFFFF;
  padding: 4rem 0;
}

.content-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial-img svg {
  margin-bottom: 4rem;
  
}

.lorem {
  font-size: 28px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
}

.owner {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  gap: 1rem;
}

.owner-name {
  line-height: 25px;
}



/* Subscribe Styling */
.subscription {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 6rem 2rem;
  padding: 0 4rem;
  gap: 5rem;
}

.subscription-content h3{
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-bottom: 1rem;
}

.subscription-content h2 {
  font-family: Bebas Neue, sans-serif;
  font-size: 80px;
  font-weight: 800;
  letter-spacing: 0.1px;
  margin-bottom: 1rem;
}

.subscription-content h4 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-bottom: 1rem;
}

.subscription-content input {
  width: 273px;
  height: 54px;
  border-radius: 50px;
  border: 1px solid #E8E8E8;
  background: #F4F4F4;
  padding-left: 1rem;
  font-size: 16px;
  
}

.subscription-content button {
  background-color: #2B70B3;
  color:#FFFFFF;
  font-size: 20px;
  padding: 19px 38px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 400;
  margin-left: 1rem;
}

.subscription img {
  width: 700px;
  height: 600px;
}


/* Contact Us Styling */

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem 5rem;
}

.contact-us h2 {
  font-family: Bebas Neue, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #2C2C31;
  line-height: 55px;
  margin-bottom: 1rem;
}

.contact-us .questions {
  font-size: 24px;
  font-weight: 500;
  color: #415168;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 3rem;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 2rem;
}


.contact-info h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-bottom: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
  gap: 2rem;
  align-items: center;
  width: 453px;
  height: 669px;
}

.contact-form h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}


.contact-form input, .contact-form textarea {
  width: 353px;
  height: 54px;
  border-radius: 39px;
  color: #F5F5F5;
  border: 1px solid #E8E8E8;
  background: #F4F4F4;
  padding: 19px 20px;
  font-size: 16px;
}


.contact-form textarea {
  width: 353px !important;
  height: 193px !important;
  border-radius: 10px;
}


.contact-form button {
  background: linear-gradient(135deg, #3B7DED, #2A5F9E, #2B70B3);
  color:#FFFFFF;
  font-size: 20px;
  width: 145px;
  height: 56px;
  padding: 18px 38px;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 1rem;
  cursor: pointer;
}

.contact-form button:hover {
  background: linear-gradient(135deg, #2B70B3, #2A5F9E, #3B7DED);
  transition: 0.3s;
}

.contact-details {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 5rem;
  gap: 3rem;
}

.icons p {
  margin-top: 1rem;
  color: #2C2C31;
}

/* .address, .phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
} */

.mail {
  margin-top: 0.5rem;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 4rem;
}


/* Footer Styling */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #3B7DED, #2A5F9E, #2B70B3);
  color: #FFFFFF;
  padding: 43px 300px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  margin-bottom: 2rem;
}

.footer-links ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  
}

.footer-links li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}

.footer-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.address, .phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}